include ../mixins
footer.footer
    .wrapper
        .footer__container
            .footer__company
                h2.footer__title.menu-title Dealer Company Name

            .footer__models.footer__block
                .footer__range
                    h2.footer__title.menu-title Модельный ряд
                    button.footer__btn.show-icon
                nav.footer__menu.menu
                    ul.menu__list
                        li.menu__item
                            a(href='#').menu__link.menu__link_foot Название модели
                        li.menu__item
                            a(href='#').menu__link.menu__link_foot Название модели
                        li.menu__item
                            a(href='#').menu__link.menu__link_foot Название модели
                        li.menu__item
                            a(href='#').menu__link.menu__link_foot Название модели
                        li.menu__item
                            a(href='#').menu__link.menu__link_foot Название модели
                        li.menu__item
                            a(href='#').menu__link.menu__link_foot Название модели

            .footer__clients.footer__block
                .footer__range
                    h2.footer__title.menu-title Покупателям
                    button.footer__btn.show-icon
                nav.footer__menu.menu
                    ul.menu__list
                        li.menu__item
                            a(href='#').menu__link.menu__link_foot Автомобили в наличии
                        li.menu__item
                            a(href='#').menu__link.menu__link_foot Акции и предложения
                        li.menu__item
                            a(href='#').menu__link.menu__link_foot Кредит
                        li.menu__item
                            a(href='#').menu__link.menu__link_foot Трейд-ин
                        li.menu__item
                            a(href='#').menu__link.menu__link_foot Страхование

            .footer__owners.footer__block
                .footer__range
                    h2.footer__title.menu-title Владельцам
                    button.footer__btn.show-icon
                nav.footer__menu.menu
                    ul.menu__list
                        li.menu__item
                            a(href='#').menu__link.menu__link_foot Сервисное обслуживание
                        li.menu__item
                            a(href='#').menu__link.menu__link_foot Запасные части
                        li.menu__item
                            a(href='#').menu__link.menu__link_foot Гарантийный ремонт
                        li.menu__item
                            a(href='#').menu__link.menu__link_foot Запись на сервис

            .footer__contacts.contacts
                .contacts__wrap.footer__contacts-wrap
                    h3.contacts__title.footer__contacts-title Отдел продаж
                    a.contacts__tel.footer__contacts-tel(href="tel:+79876543210") +7(987)654 32 10
                .contacts__wrap.footer__contacts-wrap
                    h3.contacts__title.footer__contacts-title Отдел сервиса
                    a.contacts__tel.footer__contacts-tel(href="tel:+79876543211") +7(987)654 32 11
                .footer__socials
                    h3.contacts__title.footer__contacts-title Мы в соцсетях
                    .socials
                        ul.socials__items
                            li.socials__item
                                a(href='#').socials__link
                                    +tg("socials__img", "#fff")
                            li.socials__item
                                a(href='#').socials__link
                                    +vk("socials__img", "#fff")

                            li.socials__item
                                a(href='#').socials__link
                                    +youtube("socials__img", "#fff")

            .footer__copyright
                | &copy; 2023 Dealer Company Name
            a.footer__legal(href='#') Правовая информация
            .footer__autor Сделано в
                a(href='#').footer__autor-link &nbsp; Perx








